[Desktop Entry]
Encoding=UTF-8
Name=StarDict
Name[cs]=StarDict
Name[de]=StarDict
Name[fr]=StarDict
Name[hr]=StarDict
Name[hu]=StarDict
Name[ku]=StarDict
Name[mk]=StarDict
Name[nl]=StarDict
Name[pt_BR]=StarDict
Name[ru]=StarDict
Name[sk]=StarDict
Name[tt]=StarDict
Name[uk]=Зоряний словник :: StarDict
Name[vi]=StarDict
Name[zh_CN]=星际译王
Name[zh_TW]=星際譯王
Comment=Lookup words
Comment[cs]=Slovník s pokročilými funkcemi
Comment[fr]=Recherche de mots
Comment[hr]=Pogledaj  riječi
Comment[hu]=Szavak keresése
Comment[mk]=Барај зборови
Comment[nl]=Woorden opzoeken
Comment[pt_BR]=Procure palavras
Comment[ru]=Поиск слова
Comment[sk]=Vyhľadávané slová
Comment[tt]=Süzlär küzläp toru
Comment[uk]=Слова пошуку
Comment[vi]=Tra cứu từ
Comment[zh_CN]=查询单词
Comment[zh_TW]=查詢單字
Exec=stardict
Terminal=0
Type=Application
Icon=stardict.png
StartupNotify=true
Categories=GNOME;Application;Utility;
X-GNOME-DocPath=stardict/stardict.xml
